[user]
    name     = Julio Cesar Kochhann
    email    = juliokochhann@hotmail.com
    username = juliokochhann
[color]
	ui = auto
[core]
    editor   = nano
    autocrlf = input
[credential]
    helper = store
    helper = /usr/local/bin/git-credential-manager
    credentialStore = secretservice
[diff]
    tool = vscode
[difftool "vscode"]
    cmd  = code --wait --diff $LOCAL $REMOTE
[init]
    defaultBranch = main
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd  = code --wait $MERGED
[alias]
    br   = branch
    ci   = commit
    co   = checkout
    st   = status
    sw   = switch
    rt   = restore
    all  = log --oneline
    last = log -1 HEAD
    cl   = !git clone https://github.com/juliokochhann/$1 && :
[credential "https://dev.azure.com"]
    useHttpPath = true
